.main-button {
    cursor: pointer;
    background: #fff;
    border: 2px solid white;
    padding: 1.4rem 4.2rem;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    border-radius: 4px;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 3rem 6rem rgba(0,0,0,0.2);
    }

    &:active {
        transform: scale(1);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
}